@import url(https://db.onlinewebfonts.com/c/2ece2ca570f9b741d03cd6305ce9f8d5?family=Noyh+R+W01+SemiLight);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/155c3fcab90ff316f2afaf56be1b86b4?family=PP+Editorial+Old);

.section5.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.section5.lenis.lenis-stopped {
  overflow: clip;
}

.section5.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.section5 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section5 html,
.section5 body {
  width: 100%;
  height: 1000vh;
  font-family: "PP Neue Montreal";
}

.scale {
  will-change: transform;
  object-fit: cover;
  backface-visibility: hidden;
  image-rendering: crisp-edges;
}

.section5 img {
  image-rendering: high-quality;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: scale(1);
  transition: transform 0.5s ease, image-rendering 0.5s ease;
}


.section5 h1 {
  font-family: "PP Acma";
  font-size: 12vw;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.025em;
}

.section5 p {
  font-size: 17px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ssticky {
  position: relative;
}

.section5 .ggallery-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  z-index: -1;
  background: #131516;
}

.col {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
  will-change: transform;
}

.immg {
  object-fit: cover;
  flex: 1;
  overflow: hidden;
  background-color: #fff;
  will-change: transform;
  backface-visibility: hidden;
}

.immg img {
  object-fit: cover;
  image-rendering: crisp-edges;
  backface-visibility: hidden;
  transform: scale(1);
  transition: transform 0.5s ease, image-rendering 0.5s ease;
}

.immg.main {
  height: 30vh;
  object-fit: cover;
  backface-visibility: hidden;
}

.immg.main canvas {
  image-rendering: crisp-edges;
}

.section5 .ssticky .mainImgFixed {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 4;
}

.ccontainer {
  width: 100%;
  height: 100%;
}

.section5 section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #e1dedc;
  padding: 0;
}

.section5 section>* {
  padding: 0;
}

.hhero {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 150vh;
  position: relative;
  z-index: 2;
}

.hhero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  /* ou 'contain' */
  background-position: center;
  background-repeat: no-repeat;
}

.hheader {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

section.ws {
  width: 100vw;
  height: 250vh;
  background-color: transparent;
}

.section5 {
  position: relative;
}