.foooter {
  width: 100%;
  z-index: 999;
  position: relative;
  bottom: 0;
}

.ffooter-bg {
  position: relative;
}

.main-containeer {
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.main-containeer,
.main-containeer * {
  box-sizing: border-box;
}
/* ... o restante do seu CSS do footer ... */

.main-containeer {
  position: relative;
  width: 1920px;
  height: 903px;
  margin: 0 auto;
  font-size: 0px;
  background: #131516;
  overflow: hidden;
  border-radius: 158px 158px 0 0;
}

.tom-forrd {
  display: block;
  position: relative;
  height: 65px;
  margin: 201px 0 0 777px;
  color: #ffffff;
  font-family: "PP Fragment", var(--default-font-family);
  font-size: 64px;
  font-weight: 400;
  line-height: 65px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}

.flex-row-cc {
  position: relative;
  width: 1979px;
  height: 264px;
  margin: 24px 0 0 -15px;
  z-index: 62;
}

.vector {
  position: absolute;
  width: 605px;
  height: 266px;
  top: -1px;
  left: 50%;
  background: url(../Assets/vetores/5f13b2e2-b5da-402f-a860-58da0b28d573.png) no-repeat center;
  background-size: cover;
  transform: translate(-161.07%, 0);
  z-index: 59;
}

.vector-1 {
  position: absolute;
  width: 621px;
  height: 266px;
  top: -1px;
  left: 50%;
  background: url(../Assets/vetores/5f13b2e2-b5da-402f-a860-58da0b28d573.png) no-repeat center;
  background-size: cover;
  transform: translate(-104.75%, 0);
}

.vector-2 {
  position: absolute;
  width: 621px;
  height: 266px;
  top: -1px;
  left: 50%;
  background: url(../Assets/vetores/5f13b2e2-b5da-402f-a860-58da0b28d573.png) no-repeat center;
  background-size: cover;
  transform: translate(-50%, 0);
}

.vector-3 {
  position: absolute;
  width: 621px;
  height: 266px;
  top: -1px;
  left: 50%;
  background: url(../Assets/vetores/5f13b2e2-b5da-402f-a860-58da0b28d573.png) no-repeat center;
  background-size: cover;
  transform: translate(4.75%, 0);
  z-index: 61;
}

.vector-4 {
  position: absolute;
  width: 576px;
  height: 266px;
  top: -1px;
  left: 50%;
  background: url(../Assets/vetores/5f13b2e2-b5da-402f-a860-58da0b28d573.png) no-repeat center;
  background-size: cover;
  transform: translate(64.15%, 0);
  z-index: 62;
}

.containeer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 44.8px;
  position: relative;
  width: 668.347px;
  margin: 68.18px 0 0 626px;
  padding: 0 44.833px 0 44.833px;
  z-index: 4;
}

.containeer-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 22.4px;
  position: relative;
  padding: 0 0.01px 0 0;
  z-index: 55;
  cursor: pointer;
  margin-top: 10px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 103px;
  padding: 0 0 0.96px 0;
  z-index: 6;
}

.our-story {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 27px;
  color: #f5e5e5;
  font-family: Inter, var(--default-font-family);
  font-size: 17.899999618530273px;
  font-weight: 400;
  line-height: 26.9px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 7;
  cursor: pointer;
}

.containeer-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 6px;
  padding: 0 0 0.96px 0;
  z-index: 8;
}

.separator {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 27px;
  color: white;
  font-family: Inter, var(--default-font-family);
  font-size: 17.899999618530273px;
  font-weight: 400;
  line-height: 26.9px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}

.link-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 114px;
  padding: 0 0 0.96px 0;
  z-index: 10;
}

.collection {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 27px;
  color: #f5e5e5;
  font-family: Inter, var(--default-font-family);
  font-size: 17.899999618530273px;
  font-weight: 400;
  line-height: 26.9px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 11;
}

.containeer-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 6px;
  padding: 0 0 0.96px 0;
  z-index: 12;
}

.separator-9 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 27px;
  color: white;
  font-family: Inter, var(--default-font-family);
  font-size: 17.899999618530273px;
  font-weight: 400;
  line-height: 26.9px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}

.link-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 87px;
  padding: 0 0 0.96px 0;
  z-index: 14;
}

.business {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 27px;
  color: #f5e5e5;
  font-family: Inter, var(--default-font-family);
  font-size: 17.620311737060547px;
  font-weight: 400;
  line-height: 26.9px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 15;
}

.containeer-b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 6px;
  padding: 0 0 0.96px 0;
  z-index: 16;
}

.separator-c {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 27px;
  color: white;
  font-family: Inter, var(--default-font-family);
  font-size: 17.899999618530273px;
  font-weight: 400;
  line-height: 26.9px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}

.link-d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 116px;
  padding: 0 0 0.96px 0;
  z-index: 18;
}

.contact-us {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 27px;
  color: #f5e5e5;
  font-family: Inter, var(--default-font-family);
  font-size: 17.899999618530273px;
  font-weight: 400;
  line-height: 26.9px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 19;
}

.containeer-e {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 17.9px;
  position: relative;
  padding: 0 186.32px 0 186.31px;
  z-index: 20;
}

.instagram-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 26.89px;
  height: 26.89px;
  z-index: 21;
  max-width: 578.77px;
}

.containeer-f {
  flex-shrink: 0;
  position: relative;
  width: 26.89px;
  height: 26.89px;
  z-index: 22;
}

.containeer-10 {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 26.89px 0 0 13.44px;
  z-index: 25;
}

.flex-row {
  position: absolute;
  width: 26.891px;
  height: 26.891px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 24;
}

.containeer-11 {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 0 0 0 13.44px;
  z-index: 23;
}

.component {
  position: absolute;
  width: 26.891px;
  height: 26.891px;
  top: 50%;
  left: 50%;
  background: url(../Assets/vetores/insta.png) no-repeat center;
  background-size: cover;
  transform: translate(-50%, -50%);
  z-index: 24;
}

.link-threads-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 26.89px;
  height: 26.89px;
  z-index: 26;
  max-width: 578.77px;
}

.containeer-12 {
  flex-shrink: 0;
  position: relative;
  width: 26.89px;
  height: 26.89px;
  z-index: 27;
}

.containeer-13 {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 26.89px 0 0 13.44px;
  z-index: 30;
}

.flex-row-ae {
  position: absolute;
  width: 26.891px;
  height: 26.891px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 29;
}

.containeer-14 {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 0 0 0 13.44px;
  z-index: 28;
}

.component-15 {
  position: absolute;
  width: 26.891px;
  height: 26.891px;
  top: 50%;
  left: 50%;
  background: url(../Assets/vetores/twitter.png) no-repeat center;
  background-size: cover;
  transform: translate(-50%, -50%);
  z-index: 29;
}

.link-tiktok-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 26.89px;
  height: 26.89px;
  z-index: 31;
  max-width: 578.77px;
}

.containeer-16 {
  flex-shrink: 0;
  position: relative;
  width: 26.89px;
  height: 26.89px;
  z-index: 32;
}

.containeer-17 {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 26.89px 0 0 13.43px;
  z-index: 35;
}

.flex-row-a {
  position: absolute;
  width: 26.891px;
  height: 26.891px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 34;
}

.containeer-18 {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 0 0 0 13.43px;
  z-index: 33;
}

.component-19 {
  position: absolute;
  width: 26.891px;
  height: 26.891px;
  top: 50%;
  left: 50%;
  background: url(../Assets/vetores/tiktok.png) no-repeat center;
  background-size: cover;
  transform: translate(-50%, -50%);
  z-index: 34;
}

.link-facebook-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 26.89px;
  height: 26.89px;
  z-index: 36;
  max-width: 578.77px;
}

.containeer-1a {
  flex-shrink: 0;
  position: relative;
  width: 26.89px;
  height: 26.89px;
  z-index: 37;
}

.containeer-1b {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 26.89px 0 0 13.44px;
  z-index: 40;
}

.flex-row-d {
  position: absolute;
  width: 26.891px;
  height: 26.891px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 39;
}

.containeer-1c {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 0 0 0 13.44px;
  z-index: 38;
}

.component-1d {
  position: absolute;
  width: 26.891px;
  height: 26.891px;
  top: 50%;
  left: 50%;
  background: url(../Assets/vetores/faceboo.png) no-repeat center;
  background-size: cover;
  transform: translate(-50%, -50%);
  z-index: 39;
}

.link-linkedin-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 26.89px;
  height: 26.89px;
  z-index: 41;
  max-width: 578.77px;
}

.containeer-1e {
  flex-shrink: 0;
  position: relative;
  width: 26.89px;
  height: 26.89px;
  z-index: 42;
}

.containeer-1f {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 26.89px 0 0 13.44px;
  z-index: 45;
}

.flex-row-fc {
  position: absolute;
  width: 26.891px;
  height: 26.891px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 44;
}

.containeer-20 {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 0 0 0 13.44px;
  z-index: 43;
}

.component-21 {
  position: absolute;
  width: 26.891px;
  height: 26.891px;
  top: 50%;
  left: 50%;
  background: url(../Assets/vetores/linkdln.png) no-repeat center;
  background-size: cover;
  transform: translate(-50%, -50%);
  z-index: 44;
}

.marginn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 35.867px 0 0 0;
  z-index: 46;
}

.containeer-22 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 17.9px;
  position: relative;
  padding: 0 28.08px 0 28.08px;
  z-index: 47;
}

.link-23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 110px;
  padding: 1px 0 2.17px 0;
  z-index: 48;
}

.privacy-policy {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #fcefef;
  font-family: Inter, var(--default-font-family);
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20.18px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 49;
}

.containeer-24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 5px;
  padding: 1px 0 2.17px 0;
  z-index: 50;
}

.separator-25 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: white;
  font-family: Inter, var(--default-font-family);
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20.18px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}

.link-26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 148px;
  padding: 1px 0 2.17px 0;
  z-index: 52;
}

.terms-conditions {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #fcefef;
  font-family: Inter, var(--default-font-family);
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20.18px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 53;
}

.containeer-27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 5px;
  padding: 1px 0 2.17px 0;
  z-index: 54;
}

.separator-28 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: white;
  font-family: Inter, var(--default-font-family);
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20.18px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}

.link-29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 178px;
  padding: 1px 0 2.17px 0;
  z-index: 56;
}

.return-refund-policy {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #fcefef;
  font-family: Inter, var(--default-font-family);
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20.18px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 57;
}

/* ... outros estilos ... */

.hover {
  cursor: pointer;
}

.link {
  position: relative; /* needed for absolute positioning of ::before */
  display: block; /*Or inline-block, but block is prefered here*/
  padding: 0;
  margin: 0;
}

.link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 1; /* ensure it's on top of the text*/
  margin-bottom: 30px;
}