
.hhero {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 130vh;
  position: relative;
  z-index: 2;
}

.hhero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  /* ou 'contain' */
  background-position: center;
  background-repeat: no-repeat;
}

