@import url(https://db.onlinewebfonts.com/c/2ece2ca570f9b741d03cd6305ce9f8d5?family=Noyh+R+W01+SemiLight);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/155c3fcab90ff316f2afaf56be1b86b4?family=PP+Editorial+Old);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  /* Para garantir que fique atrás do conteúdo */
}

.background-svg svg {
  width: 100%;
  height: 30vh;
}

.cursor {
  left: 50%;
  top: 50%;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  z-index: 1000;
  transform: translate(90%, 20%);
  pointer-events: none;
  mix-blend-mode: difference;
}

nav:hover~.cursor {
  transform: translate(-50%, -50%) scale(9);
}

nav {
  top: 0;
  padding: 0;
  margin: 0;
  background-color: 0c0d0e;
  width: 100% !important;
  padding: 2em !important;
  display: flex !important;
  z-index: 100;
  /* Aumenta o z-index */
  position: absolute;
  /* Garante que o menu tenha um contexto para z-index */
}

.links {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 5em;
  cursor: pointer !important;
  z-index: 2001;
  /* Aumenta o z-index dos links */
  position: relative;
  /* Garante que os links tenham um contexto para z-index */
}

nav>div {
  flex: 1 !important;
}

a {
  font-size: 18px !important;
  text-decoration: none !important;
  color: #fff !important;
  cursor: pointer !important;
}


.links {
  display: flex;
  justify-content: flex-end;
  gap: 5em;
}

.logo:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.info:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.portfolio:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.contact:hover {
  opacity: 0.5;
  transition: 0.3s;
}


.container {
  background-color: #131516;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
  /* Garante que o conteúdo não transborde */
}

h1 {
  font-family: "Roboto", serif;
  margin-bottom: 10px;
}

h4 {
  font-size: 27px;
  padding-top: 45px;
  padding-bottom: 30px;
  font-family: "Roboto", serif;
  opacity: 0.5;
  font-weight: 400;
}

.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.box {
  margin-bottom: 20px;
}

.item-1 {
  gap: 30px;
}

input {
  text-align: start;
  text-decoration: none;
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.2);
  /* Corrigido para usar rgba() */
  border-radius: 10px;
  padding: 10px;
  width: 380px;
  height: 50px;
  color: white;
}

textarea {
  margin-top: 10px;
  border: 2px solid;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  /* Corrigido para usar rgba() */
  border-radius: 10px;
  padding: 10px;
  width: 380px;
  height: 150px;
  color: white;
}

textarea::placeholder {
  font-size: 17px;
  opacity: 0.5;
}

span {
  font-size: 20px;
  opacity: 0.5;
  margin-bottom: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
}

button {
  position: absolute;
  background-color: #745611;
  width: 140px;
  height: 50px;
  border-radius: 15px;
  border: none;
  color: white;
  left: 45vw;
  top: 47vw;
}

button:hover {
  border: 1px solid white;
  transition: 1s ease;
}

.text {
  color: white;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
}

/* Loader */
.pre-loader {
  /* Loader */
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.pre-loader .loader {
  /* Loader */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-loader .loader-content {
  /* Loader */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 400px;
  z-index: 2;
  color: #fff;
}

.pre-loader .count {
  /* Loader */
  flex: 2;
  text-align: right;
  line-height: 1;
  padding: 0 1em;
}

.pre-loader .copy {
  /* Loader */
  flex: 6;
  font-family: "PP Editorial Old";
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
}

.pre-loader .ml16 {
  /* Loader */
  overflow: hidden;
}

.pre-loader .ml16 .letter {
  /* Loader */
  display: inline-block;
  line-height: 1em;
  font-family: "PP Editorial Old";
  color: white;
  font-size: 30px;
  opacity: 1;
}

.pre-loader .loader-bg {
  /* Loader */
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
  z-index: -1;
}

.pre-loader.loader-2 {
  /* Loader */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url() no-repeat 50% 50%;
  background-size: cover;
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}


@media (max-width: 425px) {
  button {
    top: 90%;
    left: 24vw !important;
  }
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
    padding: 20px;
    /* Garante que o conteúdo não transborde */
  }
}

@media (max-width: 375px) {
  .container {
    width: 100vw;
    height: 100vh;
    /* Garante que o conteúdo não transborde */
  }

  button {
    top: 90%;
    left: 35%;
  }
}

@media (max-width: 1024px) {
  button {
    top: 85%;
    left: 42% !important;
  }
}
@media (max-width: 1440px) {
  button {
    top: 85%;
    left: 45%;
  }
}

@media (max-height: 770px) {
  button {
    top: 83vh;
    left: 70vw;
  }
}